.imag2 {
    border: 1px solid #492b2b;
    border-radius: 8px;
    padding: 16px;
    width: 350px;
    margin: 16px auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;

  }

  

  .cardsname2{
    display: grid;
    grid-template-columns: auto auto auto ;
  }
  
  .card-image {
   
    border-radius: 8px 8px 0 0;
  }
  
  .card-title2 {
    font-size: 19px;

    margin: 8px 0 4px;
  }
  
  
  
  .card-price2 {
    font-size: 18px;

    margin: 4px 0;
  }
  
  .card-category2,
  .card-rating2 {
    font-size: 17px;
    margin: 2px 0;
  }